<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta id="trxn-id" name="trxn-id" content="rbStv8eRwWQOex7wrREXwWClx">
    <meta id="payment-modes" name="payment-modes" content='["card", "wallet", "crypto"]'>
    <meta name="author" content="Cache Technology">
    <title>Payment Interface</title>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="checkout.js" defer></script>
    <script type="module" crossorigin src="/assets/index-ByaygL10.js"></script>
    <link rel="stylesheet" crossorigin href="/assets/index-DyYnOuuf.css">
</head>
<body>
<div id="root"></div>
</body>
</html>